---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
  namespace: flux-system
spec:
  chart:
    spec:
      version: 7.7.0
  values:
    fullnameOverride: open-webui
    ingress:
      enabled: false
    ollamaUrls:
          - http://ollama.ollama.svc.cluster.local:11434
    livenessProbe:
      httpGet:
        path: /health
        port: http
      failureThreshold: 1
      periodSeconds: 10
    readinessProbe:
      httpGet:
        path: /health/db
        port: http
      failureThreshold: 1
      periodSeconds: 10
    startupProbe:
      httpGet:
        path: /health
        port: http
      initialDelaySeconds: 30
      periodSeconds: 5
      failureThreshold: 20
    persistence:
      enabled: true
      size: 10Gi
      accessModes:
        - ReadWriteOnce
      storageClass: standard-ssd
    websocket:
      enabled: true
    # extraEnvVars:
    #   - name: UVICORN_WORKERS
    #     value: "1"
    #   - name: AIOHTTP_CLIENT_TIMEOUT
    #     value: "300"
    extraEnvVars:
      - name: DATABASE_URL
        value: "postgresql://openwebui:openwebui@database-rw.database.svc.cluster.local:5432/openwebui"
    service:
      type: ClusterIP
      port: 8080
    ollama:
      enabled: false
    pipelines:
      enabled: false
      